body {
  background-color: thistle;
  line-height: 1.7em;
}
ul {
  list-style-position: inside;
  margin: 10px 0;
  margin-left: 30px;
  padding: 10px 0;
  max-width: 600px;
}
li {
  padding-left: 10px;
}
body > ul > li {
  padding: 20px 0;
}
/* body > ul > li:last-child {
} */
li + li {
  border-top: 1px solid rgba(0,0,0,0.25);
}
body > ul > li li {
  padding: 5px 0;
  position: relative;
  padding-top: 20px;
}
body > ul > li > ul > li:first-child {
  border-top: 1px solid rgba(0,0,0,0.25);
}
.etichetta-data {
/*  float: right;*/
  font-family: Helvetica;
  font-size: 11px;
  text-transform: uppercase;
  color: rgba(0,0,0,0.4);
  padding-top: 4px;
  position: absolute;
  right: 0;
  top: 0;
}
.etichetta-data:hover {
  color: black;
}
a:link {
  border: 1px solid blue;
  height: 34px;
  border-radius: 17px;
  padding: 5px 17px;
  /* display: inline-block; */
  margin: 0 0.25em;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 13px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
}
a:visited {
  border-color: grey !important;
  color: grey !important;
}
a:hover {
  background-color: rgb(255,255,255);
}
a.referenza {}
a.tutorial {
  border-color: purple;
  color: purple;
}
a.approfondimento {}


@media (hover: hover) {
  /* when hover is supported */
}

@media not all and (hover: none) {
  /* per dare proprietà quando stiamo su touchscreen */


}

@media print {
  /* All your print styles go here */
  h1 {
    display: none;
  }
}
